<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spoilr</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <header id="main">
        <h1>Spoilr</h1>
        <h4>Where all your dreams are destroyed</h4>
    </header>
    
    <ul>
        <li><a id="link" href="/view"> Avengers: Infinity War</a></li>
        <li><a id="link" href="/view2"> Deadpool 2</a></li>
        <li><a id="link" href="/view3"> Ready Player One</a></li>
        <li><a id="link" href="/view">(etc.)</a></li>
    </ul>
    
</body>
</html>