<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spoiler - Main</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <header>
        <h1><%= name %></h1>
    </header>
    <img id="image" src="<%= image %>">

    <div class="chatroom">
        <div id="content">
            <p><span id="bold">Martha:</span> Ya'll suck</p>
            <p><span id="bold">Jerry:</span> You know someone dies</p>
            <p><span id="bold">Morty:</span> Yeah but you dont have to spoil it</p>
            <p><span id="bold">Rick:</span> THen what the hell are you doing here?</p>
            <p><span id="bold">Bethany:</span> That main character dies and I cried</p>
            <p><span id="bold">Jasmine:</span> Haha you cried, loser</p>
            <p><span id="bold">Pearl:</span> Hey! I just saw it and I laughed at the deaths. LAUGHED!</p>
            <p><span id="bold">Trevor:</span> Okay, good for you..</p>
        </div>
        <div id="message">
            <textarea id="text"></textarea>
            <button>Spoil!</button>
        </div>
    </div>
    <a href="/"><button>Home Page</button></a>
</body>
</html>